#clockcontainer{
    position: relative;
    border: 2px solid rebeccapurple;
    margin: auto;
    height: 40rem;
    width: 40rem;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position: absolute;
    background-color: #000;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    height: 20%;
    width: 1%;
    top: 30%;
    right: 49.7%;
}

#minute{
    height: 26%;
    width: 0.65%;
    top: 23%;
    right: 49.8%;
    /* display: none; */
}

#second{
    height: 35%;
    width: 0.5%;
    top: 15%;
    right: 49.9%;
    /* display: none; */
}
